main {
  background-image: url("./background.png");
  background-attachment: fixed;
  color: theme("colors.white");
}

.social-icon {
  font-size: 25px;
}

.register-form input, .register-form select {
  color: theme("colors.black");
}

.register-form input[type="file"] {
  color: theme("colors.white");
}

.dropzone {
  padding: 30px 10px;
  border: dashed 1px white;
  border-radius: 5px;
}