@import '../../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../../node_modules/@syncfusion/ej2-react-schedule/styles/material.css';
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

main {
  background-size: cover;
  background-color: black;
  background-image: url('./jank-background.png');
  background-attachment: fixed;
  color: theme('colors.white');
  font-family: 'Press Start 2P';
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII=),
    auto;
}

body {
  background-color: #110000;
}

.navbar {
  transition: 0.5s;
}

.navbar.top {
  background-color: transparent;
}

.navbar.scrolling {
  background-color: theme('colors.primary.translucent');
}

.navbar .nav-link {
  font-weight: bold;
}

.navbar .nav-link:hover {
  color: theme('colors.secondary.default');
}

.social-icon {
  font-size: 20px;
}

.register-form input,
.register-form select {
  color: theme('colors.black');
}

.register-form input[type='file'] {
  color: theme('colors.white');
}

.dropzone {
  padding: 30px 10px;
  border: dashed 1px white;
  border-radius: 5px;
}

.spinner {
  animation: spinning 1s linear;
  animation-iteration-count: infinite;
}

.text-404 {
  font-size: 6rem;
}

.moon-404 {
  width: 6rem;
  display: inline;
  margin: 3px;
  margin-bottom: 20px;
}

@keyframes spinning {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.e-btn.e-edit,
.e-btn.e-delete {
  display: none !important;
}

.light-link:hover {
  color: theme('colors.secondary.default');
}

.partner:hover {
  opacity: 0.6;
}

#ghost {
  display: none;
}

footer.mountain-background {
  background-color: #110000;
}

.nes-container.is-transparent-dark {
  position: relative;
  margin: 4px;
  color: #fff;
  background-color: rgba(59, 31, 134, 0.6);
  border-color: #fff;
}

.nes-container.is-transparent-dark.with-title > .title {
  color: #fff;
  background-color: rgba(59, 31, 134, 0.6);
}

#logo {
  max-width: auto;
  height: auto;
}

.schedule-bg {
  background-color: $purple-white !important;
}

table tr:nth-child(2n + 2) {
  background-color: #ecebf5;
}

.schedule-gray-row tr:nth-child(1) {
  background-color: #ecebf5;
}

.schedule-date-time {
  width: 1.5rem !important;
}

.schedule-name {
  width: 1.5rem !important;
}

.schedule-table {
  table-layout: fixed !important;
}

.nes-btn {
  border-image-slice: 2;
  border-image-width: 2;
  border-image-repeat: stretch;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(33,37,41)" /></svg>');
  border-image-outset: 2;
  position: relative;
  display: inline-block;
  padding: 6px 8px;
  margin: 4px;
  text-align: center;
  vertical-align: middle;
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAzElEQVRYR+2X0Q6AIAhF5f8/2jYXZkwEjNSVvVUjDpcrGgT7FUkI2D9xRfQETwNIiWO85wfINfQUEyxBG2ArsLwC0jioGt5zFcwF4OYDPi/mBYKm4t0U8ATgRm3ThFoAqkhNgWkA0jJLvaOVSs7j3qMnSgXWBMiWPXe94QqMBMBc1VZIvaTu5u5pQewq0EqNZvIEMCmxAawK0DNkay9QmfFNAJUXfgGgUkLaE7j/h8fnASkxHTz0DGIBMCnBeeM7AArpUd3mz2x3C7wADglA8BcWMZhZAAAAAElFTkSuQmCC)
      14 0,
    pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #212529;
  background-color: #fff;
  border-style: solid;
  border-width: 4px;
}

.bg-primary {
  --bg-opacity: 1;
  background-color: #ff8304;
  background-color: rgba(255, 131, 4, var(--bg-opacity));
}

.text-white {
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
